<!DOCTYPE html>
<html>

<head>
    <title>Wack</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel='stylesheet' href='../static/wack.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
        
        <div class="sidenav">
            <div id="header">
                <img id="wack-logo" src="../static/WackLogo.png">
                <h1>Wack</h1>
            </div>
            <div class="nav-list">
                <h2>Channels</h2>
                <ul id="channel-list">
                    <li><button class="channel-name">Home</button></li>
                    <!-- where channels are displayed-->
                    <span id="sidebar-sect-1">
                    </span>
                    <div id="create-channel-sect">
                        <input id='new-channel' type='text' placeholder="Create new channel..."> 
                        <button id='add-channel' class="add">+</button>
                    </div>
                </ul>
            </div>
            <div class="nav-list">
                <h5 id="sidebar-title-2"></h5>
                <ul id="sidebar-sect-2">
                </ul>
            </div>
        </div>
    <div id="non-header">
        <div class="content">
            
            <h2 id="channel-title"></h2>
            <div id="message-block">
            </div>
            <div id="sending-block">
            </div>
        </div>
    </div>
</body>

</html>